
<div class="center">
  <div class="row">
  <h2 class="home-subtitles">Il negozio online di contenuti digitali</h2>
    
    <!--<div class="col s12 m4">
        <i class="material-icons medium blue-grey-text text-darken-3">library_book</i>
        <h5>Scopri contenuti Unici</h5>
        <p>Scegli tra i formati disponibili il documento che stai cercando.</p>
    </div> -->
     <div class="col s12 m4">
        <i class="material-icons medium blue-grey-text text-darken-3">library_books</i>
      <h5>Scopri contenuti Unici</h5>
       <p>Scegli tra i formati disponibili il documento che stai cercando.</p>
    </div>

    <div class="col s12 m4">
        <i class="material-icons medium blue-grey-text text-darken-3">motorcycle</i>
        <h5>Acquista Velocemente</h5>
        <p>Scegli il prodotto che ti interessa ed in pochi secondi potrai iniziare ad utilizzare.</p>
    </div>

      <div class="col s12 m4">
        <i class="material-icons medium blue-grey-text text-darken-3">settings</i>
        <h5>Vendi i Tuoi contenuti</h5>
        <p>Hai documenti che vorresti vendere? Aggungili alla libreria ed inizia a guadagnare!</p>
      </div>
    </div>
</div>
  

  